@use "style/variables" as v;

.editor {
	height: 100%;
	display: grid;
	grid-template-columns: 250px 1fr;

	&-list {
		display: flex;
		flex-direction: column;
		overflow-y: auto;

		&-content {
			flex: 1 1 auto;
			overflow-y: auto;
			border-right: 1px solid v.$divider;
		}

		&-actions {
			border-top: 1px solid v.$divider;
			padding: v.$padding-small;
			text-align: center;
			border-right: 1px solid v.$divider;
		}
	}

	&-config {
		overflow-y: auto;
	}
}
