@use "style/variables" as v;
@use "style/mixins" as m;

.editor {
	@include m.full-size;
	display: grid;
	grid-template-columns: 250px 1fr;
	
	&-list {
		border-right: 1px solid v.$divider;
	}

	&-config {
		&-content {
			padding: v.$padding-big;
		}
	}
}
