@use "style/variables" as v;

.editor {
	height: 100%;
	display: grid;
	grid-template-columns: 250px 1fr;

	&-list {
		height: 100%;
		overflow-y: auto;

		&-content {
			height: calc(100% - 45px);
			overflow-y: auto;
			border-right: 1px solid v.$divider;
		}
	}

	&-config {
		overflow-y: auto;
	}
}
