@use "style/variables" as v;

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: v.$white;
	font-family: sans-serif;
	font-weight: v.$font-weight-regular;
	font-size: v.$font-size-regular;
	color: v.$font-color-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: normal;
}

* {
	box-sizing: border-box;
}

#preact_root {
	height: 100%;
}

h1, h2, h3, h4, h5 {
	margin-block-start: 0;
	margin-block-end: 0;
}

a {
	color: v.$link-color;
}

// OVERRIDES
.ant-form-item-label {
	font-size: v.$font-size-small;
	font-weight: bold;
}

.ant-select-open, .ant-select-focused {
	.ant-select-selector {
		box-shadow: none !important;
		border-color: v.$primary-color !important;
	}
}

.ant-input:hover, .ant-select-selector:hover, .ant-select-selector:focus, .ant-input:focus {
	border-color: v.$primary-color !important;
	box-shadow: none !important;
}

.ant-select-item-option-selected {
	background-color: lighten(v.$primary-color, 50%) !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
	background-color: v.$hover-regular;
}

.ant-input-status-error {
	border-color: #ff4d4f !important;
}