@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-horizontally {
  display: flex;
  justify-content: center;
}

@mixin center-vertically {
  display: flex;
  align-items: center;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin truncate($max-width) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: $max-width;
}