// COLORS
$white: #FAFAFA;
$divider: #d3d3d3;
$primary-color: #285486;
$mask: #000000cc;
$white-accent: #d8d8d8;
$black: #000000;
$danger: #ac0909;
$disabled: #a3a3a3;
$square-border: #777777;

// STATE COLORS
$hover-regular: #bebebe;
$selected-regular: #d6d6d6;


// FONTS COLOR
$font-color-regular: #444;
$font-color-white: #FFFFFF;
$disabled-font: #666666;
$link-color: #1d5faa;

// FONT WEIGHT
$font-weight-regular: 500;

// MARGIN
$margin-huge: 36px;
$margin-big: 24px;
$margin-medium: 16px;
$margin-small: 12px;
$margin-between: 8px;
$margin-tiny: 6px;
$margin-minmal-between: 4.5px;
$margin-minimal: 3px;

// PADDING
$padding-huge: 36px;
$padding-big: 24px;
$padding-medium: 16px;
$padding-small: 12px;
$padding-between: 8px;
$padding-tiny: 6px;
$padding-minimal-between: 4.5px;
$padding-minimal: 3px;

// FONT SIZE
$font-size-enormous: 42px;
$font-size-huge: 32px;
$font-size-big: 26px;
$font-size-between: 18px;
$font-size-regular: 16px;
$font-size-small: 14px;
$font-size-very-small: 13px;
$font-size-tiny: 10px;

// BORDER RADIUS
$border-radius-regular: 6px;
$border-radius-small: 3px;

// ANIMATION TIME
$animation-duration-base: 0.3s;
$animation-duration-between: 0.15s;
$animation-duration-short: 0.1s;