// COLORS
$white: #FAFAFA;


// FONTS COLOR
$font-color-regular: #444;

// FONT WEIGHT
$font-weight-regular: 400;

// MARGIN
$margin-huge: 36px;
$margin-big: 24px;
$margin-medium: 16px;
$margin-small: 12px;
$margin-tiny: 6px;
$margin-minimal: 3px;

// PADDING
$padding-huge: 36px;
$padding-big: 24px;
$padding-medium: 16px;
$padding-small: 12px;
$padding-tiny: 6px;
$padding-minimal: 3px;

// FONT SIZE
$font-size-enormous: 42px;
$font-size-huge: 32px;
$font-size-big: 26px;
$font-size-regular: 16px;
$font-size-small: 14px;
$font-size-very-small: 12px;
$font-size-tiny: 10px;

// ANIMATION TIME
$animation-duration-base: 0.3s;