@use "style/variables" as v;
@use "style/mixins" as m;

.color-list {
  padding: v.$padding-between;
  &-item {
    display: block;
    margin-bottom: v.$margin-between;
    &-content {
      display: flex;
      align-items: flex-end;
      &-square {
        margin-right: v.$margin-small;
      }
    }
  }
}