@use "style/variables" as v;
@use "style/mixins" as m;

.color-list {
  padding: v.$padding-between 0 v.$padding-between v.$padding-between;

  &-item {
    display: block;
    width: 100%;
    transition: background-color v.$animation-duration-base ease;
    padding: v.$padding-minimal-between 0 v.$padding-minimal-between v.$padding-tiny;
    border-radius: v.$border-radius-small;

    &:hover, &:focus {
      background-color: v.$hover-regular;
    }

    &-content {
      display: flex;
      align-items: flex-end;
      &-square {
        margin-right: v.$margin-small;
      }
    }
  }
}