@use "style/variables" as v;
@use "style/mixins" as m;

.username-list {
  &-row {
    display: flex;
    padding-bottom: v.$padding-small;

    &-header {
      font-weight: bold;
    }


    &-title { 
      display: flex;
      flex-basis: 350px;
      .ant-form-item {
        width: 100%;
      }

      &-buttons {
        &-btn {
          margin-right: v.$margin-small;
        }
      }
    }

    &-item:not(:last-child) {
      margin-right: v.$margin-small;
    }

    &-item {
      flex-grow: 1;
      flex-basis: 0;
      min-width: 0;

      &-option {
        @include m.center-vertically;

        &-square {
          margin-right: v.$margin-small;
        }

        &-text {
          @include m.truncate(80%);
        }
      }
    }
  }
  

  &-data {
    border-bottom: 1px solid v.$divider;
  }

  &-row:not(:first-child) {
    margin-bottom: v.$margin-small;
  }

  .ant-form-item {
    padding: 0;
    margin: 0;
  }
}