@use "style/variables" as v;
@use "style/mixins" as m;

.btn {
  border: none;
  cursor: pointer;
  transition: transform v.$animation-duration-short ease;
  
  &.standard {
    background-color: v.$primary-color;
    color: v.$font-color-white;
    border: 2px solid v.$primary-color;
    border-radius: v.$border-radius-regular;
    transition: background-color v.$animation-duration-base ease, border-color v.$animation-duration-base ease;

    &:hover, &:focus {
      background-color: lighten(v.$primary-color, 15%);
      border-color: lighten(v.$primary-color, 15%);
    }
  }

  &.bordered {
    border: 2px solid v.$primary-color;
    border-radius: v.$border-radius-regular;
    transition: color v.$animation-duration-base ease, border-color v.$animation-duration-base ease;
    
    &:hover, &:focus {
      border-color: lighten(v.$primary-color, 15%);
      color: lighten(v.$primary-color, 15%);
    }
  }

  &.medium {
    font-size: v.$font-size-regular;
    padding: v.$padding-between v.$padding-medium;
  }

  &-content {
    display: flex;
    &-icon {
      @include m.center-vertically;
      margin-right: v.$margin-between;
    }
  }

  &:active {
    transform: translateY(3px);
  }
  
}