@use "style/variables" as v;
@use "style/mixins" as m;

.btn {
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform v.$animation-duration-short ease;
  
  &.standard {
    background-color: v.$primary-color;
    color: v.$font-color-white;
    border: 2px solid v.$primary-color;
    border-radius: v.$border-radius-regular;
    transition: background-color v.$animation-duration-base ease, border-color v.$animation-duration-base ease;

    &:hover, &:focus {
      background-color: lighten(v.$primary-color, 15%);
      border-color: lighten(v.$primary-color, 15%);
    }
  }

  &.bordered {
    background-color: transparent;
    border: 2px solid v.$primary-color;
    border-radius: v.$border-radius-regular;
    transition: color v.$animation-duration-base ease, border-color v.$animation-duration-base ease;
    
    &:hover, &:focus {
      border-color: lighten(v.$primary-color, 15%);
      color: lighten(v.$primary-color, 15%);
    }
  }

  &.minimal {
    background-color: transparent;
    color: v.$link-color;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  &.text {
    background-color: transparent;
    color: inherit;

    &:active {
      transform: none;
    }
  }

  &.medium {
    font-size: v.$font-size-regular;
    padding: v.$padding-between v.$padding-medium;
  }
  
  &.small {
    font-size: v.$font-size-regular;
  }

  &.tiny {
    font-size: v.$font-size-very-small;
  }

  &.icon {
    font-size: v.$font-size-between;
  }

  &.dark {
    color: v.$font-color-white;
  }

  &-tooltip {
    width: max-content;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    cursor: default;
    z-index: 5;
    background-color: v.$mask;
    color: v.$font-color-white;
    font-size: v.$font-size-very-small;
    padding: v.$padding-minimal v.$padding-tiny;
    border-radius: v.$border-radius-small;
    transition: opacity v.$animation-duration-between ease;
  }

  &:hover, &:focus {
    .btn-tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &-content {
    display: flex;

    &-icon + &-text {
      margin-left: v.$margin-between;
    }

    &-icon {
      @include m.center-vertically;
    }
  }

  &:active {
    transform: translateY(3px);
  }
  
}