@use "style/variables" as v;
@use "style/mixins" as m;

.btn {
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform v.$animation-duration-short ease;
  font-family: inherit;
  line-height: normal;
  z-index: 5;

  &:disabled {
    background-color: v.$disabled !important;
    color: v.$disabled-font !important;
    border-color: v.$disabled !important;

    &:active {
      transform: none !important;
    }
  }

  &.primary.standard {
    background-color: v.$primary-color;
    border: 2px solid v.$primary-color;
    color: v.$font-color-white;

    &:hover, &:focus {
      background-color: lighten(v.$primary-color, 15%);
      border-color: lighten(v.$primary-color, 15%);
    }
  }

  &.danger.standard {
    background-color: v.$danger;
    border: 2px solid v.$danger;
    color: v.$font-color-white;

    &:hover, &:focus {
      background-color: lighten(v.$danger, 15%);
      border-color: lighten(v.$danger, 15%);
    }
  }

  &.grayish.standard {
    background-color: v.$white-accent;
    border: 2px solid v.$white-accent;
    color: v.$font-color-regular;

    &:hover, &:focus {
      background-color: darken(v.$white-accent, 15%);
      border-color: darken(v.$white-accent, 15%);
    }
  }
  
  &.standard {
    border-radius: v.$border-radius-regular;
    transition: transform v.$animation-duration-short ease, background-color v.$animation-duration-base ease, border-color v.$animation-duration-base ease;
  }

  &.primary.bordered {
    border: 2px solid v.$primary-color;

    &:hover, &:focus {
      border-color: lighten(v.$primary-color, 15%);
    }
  }

  &.danger.bordered {
    border: 2px solid v.$danger;

    &:hover, &:focus {
      border-color: lighten(v.$danger, 15%);
    }
  }

  &.grayish.bordered {
    background-color: v.$white-accent;
    border: 2px solid v.$white-accent;
    color: v.$font-color-regular;

    &:hover, &:focus {
      background-color: darken(v.$white-accent, 15%);
      border-color: darken(v.$white-accent, 15%);
    }
  }

  &.bordered {
    background-color: transparent;
    border-radius: v.$border-radius-regular;
    transition: transform v.$animation-duration-short ease, color v.$animation-duration-base ease, border-color v.$animation-duration-base ease;
    
    &:hover, &:focus {
      border-color: lighten(v.$primary-color, 15%);
      color: lighten(v.$primary-color, 15%);
    }
  }

  &.minimal {
    background-color: transparent;
    color: v.$link-color;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  &.primary.rounded-square {
    background-color: v.$primary-color;
    color: v.$font-color-white;

    &:hover, &:focus {
      background-color: lighten(v.$primary-color, 15%);
    }
  }

  &.danger.rounded-square {
    background-color: v.$danger;
    color: v.$font-color-white;

    &:hover, &:focus {
      background-color: lighten(v.$danger, 15%);
    }
  }

  &.grayish.rounded-gray {
    background-color: v.$white-accent;
    color: v.$font-color-regular;

    &:hover, &:focus {
      background-color: darken(v.$white-accent, 15%);
    }
  }

  &.rounded-square {
    transition: transform v.$animation-duration-short ease, background-color v.$animation-duration-base ease;
    border-radius: v.$border-radius-small;
  }

  &.text {
    background-color: transparent;
    color: inherit;

    &:active {
      transform: none;
    }
  }

  &.medium {
    font-size: v.$font-size-regular;
    padding: v.$padding-between v.$padding-medium;
  }

  &.between {
    padding: v.$padding-tiny;
  }
  
  &.small {
    font-size: v.$font-size-regular;
  }

  &.tiny {
    font-size: v.$font-size-very-small;
  }

  &.icon {
    font-size: v.$font-size-between;
  }

  &.dark {
    color: v.$font-color-white;
  }

  &-content {
    display: flex;

    &-icon + &-text {
      margin-left: v.$margin-between;
    }

    &-icon {
      @include m.center-vertically;
    }
  }

  &:active {
    transform: translateY(3px);
  }
  
}